body {
	font-family: 'Lato', sans-serif;
	height: 100%;
}
a {
	color: #f25825;
}
a:hover {
	color: #f25825;
}
.button {
	background: #f25825;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	padding: 5px;
}
a.button:hover {
	color: #fff;
}
.f2p {
	border: 5px solid rgba(0,123,255,0.75);
}
#nav_logo {
	font-size: 22px;
	padding-top: 1px;
}
.autor_box {
	background: #f9f9f9;
	padding: 10px;
}
.zitat_rechts {
	margin: 5px 0 20px 20px;
	font-size: 20px;
	line-height: 24px;
	color: #f25825;
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	border-left: 0;
	float: right;
	width: 20%;
	padding: .2em 0;
}
.last_update {
	background: #f9f9f9;
	text-align: center;
	margin-bottom: 25px;
	padding: 5px;
	font-size: 12px;
	color: #333;
}
.zitat_links {
	margin: 5px 0 20px 20px;
	font-size: 20px;
	line-height: 24px;
	color: #f25825;
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	border-left: 0;
	float: left;
	width: 20%;
	padding: .2em 0;
}
#filterlist {
	margin: 0;
	padding: 0;
}
.filter_value {
	float: left;
	list-style: none;
	width: 150px;
}
.filter_role {
	float: left;
	list-style: none;
	width: 110px;
}
#filterlist li {
	float: left;
	list-style: none;
	width: 250px;
	margin-right: 10px;
}
.votes_overlay {
	position: absolute;
	top: 0;
	left: 5px;
	background: #000;
	padding: 3px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.filterbox {
	background: #f25825;
	padding: 10px;
	color: #333333;
	font-weight: normal;
	margin-bottom: 15px;
}
.filterbox input {
	width: 100%;
	padding: 5px;
}
.last_games tr {
	border-bottom: 5px solid #fff;
	font-size: 12px;
}
.hide_stats {
	display: none;
}
.win_header {
	background: #50B350;
	height: 10px;
	line-height: 10px;
	font-size: 12px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #f25825 !important;
	border-color: #f25825 !important;
	color: #fff !important;
}
.pagination>li>a, .pagination>li>span {
	color: #f25825 !important;
}
.game_details {
	font-size: 12px;
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.updater_summoner {
	background: #f25825;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 360px !important;
	padding: 10px;
}
.blue_indicator {
	padding-bottom: 8px;
	border-bottom: 3px solid blue;
}
.live_table .summoner_line {
	border-bottom: 1px solid #f0f0f0;
	height: 50px;
	padding-bottom: 5px;
}
.red_indicator {
	padding-bottom: 8px;
	border-bottom: 3px solid red;
}
.loss_header {
	background: #ED8888;
}
.slider {
	margin-top: 80px;
}

.slider .headline_background a:hover {
	text-decoration: none;
}
.navigation {
	font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
	z-index: 100;
	background: #202528;
	color: #fff;
	height: 50px;
	margin-bottom: 0px;
}
.navigation ul {
	margin: 0;
	padding: 0;
}
.navigation ul li {
	list-style: none;
	float: left;
	height: 50px;
	line-height: 50px;
}
.navigation ul li:hover {
	background: #333a3e;
	text-decoration: none;
}
.navigation ul li a {
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
.navigation ul li ul li a.inactive {
	color: grey;
}
.navigation ul li.active {
	background: #333a3e;
}

.navigation ul li a {
	display: block;
	color: #fff;
}
.navigation ul li ul {
	display: none;
	position: absolute;
	background: #202528;
	margin-left: 0px;
}
.navigation ul li ul li {
}
.navigation ul li:hover ul {
	display: block;
}
.login_submenu li {
    height: 300px;
}
.right_navigation li {
    float: right !important;
}
.right_navigation li a {
    display: inline-block !important;
    padding: 0;
}
.navigation ul li:hover ul.submenu_mobile li {
	clear: both;
}
.navigation ul li:hover ul.submenu_mobile ul.sub_submenu_mobile li {
	margin-right: 0;
	padding-right: 0;
}
.navigation ul li:hover ul.submenu_mobile ul.sub_submenu_mobile {
	display: none;
}
.navigation ul li:hover ul.submenu_mobile li:hover ul.sub_submenu_mobile {
	display: block;
	margin-left: 100px;
	margin-top: -55px;
}
a.champion_link img {
	height: 1em;
}
.subsite {
	height: 60px;
	background: url("/img/subsite.jpg");
	margin-bottom: 15px;
}
.header_margin {
	margin-top: 0px;
}
.subsite h1 {
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	font-size: 24px;
	line-height: 60px;
}
.visionward_font {
	font-family: 'Fjalla One', sans-serif;
}
.footer {
	margin-top: 25px;
	height: 100px;
	background: #202528;
	color: #fff;
}
.gallery_description {
	padding: 10px;
	background: #f9f9f9;
}
.copy {
	color: #767c7e;
}
.game_detail_toggle  {
	display: none;
}
.headline {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
}
.headline_background {
	background: url("/img/headline_background.png");
	padding: 10px;
	margin-top: 15px;
	width: 750px;
	display: block;
}
.headline_background h2 {
	margin-top: 5px !important;
	padding-top: 0;
}
h2.headline {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
	margin-top: 7px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
}
h2.headline_no_border {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
	margin-top: 7px;
	margin-bottom: 0px;
	border-bottom: 0px solid #e7e7e7;
}
.team_member {
	height: 550px;
}
.sidebar .block {
	margin-bottom: 50px;
}
.sidebar a {
	color: #333;
}
.sidebar a:hover {
	text-decoration: none;
}
.article blockquote {
	font-size: 14px;
	border-left: 3px solid #808080;
	fonnt-style: italic;
	background: #f0f0f0;
}
a.red {
	color: #f25825;
}
.post_meta {
	font-size: 12px;
	margin-bottom: 15px;
}
.header {
	margin-top: 50px;
	height: 210px;
}
.small_header {
	margin-top: 50px;
	height: 120px;
}
.small {
    font-size: 10px;
    color: #9a9a9a;
}
.comment_bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
	z-index: 100;
}
.badge a {
    color: #fff;
}
.news_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.news h2 {
	margin: 0;
	padding: 0;
	color: #202628;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.news h2 a {
	color: #202628;
	font-weight: bold;
	text-decoration: none;
}
.news .text {
	color: #767c7e;
	font-size: 14px;
}
.news_small {
	width: 100%;
}
.grey {
	background: #e7e7e7;
}
.news_small .meta {
	font-size: 12px;
	margin-top: 10px;
}
.news_small .small_headline {
	color: #202628;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
}
.news_small tr {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e7e7e7;
}
.news .meta {
	font-size: 12px;
	margin-top: 10px;
}
.comments_count {
	width: 80px;
	text-align: center;
	color: #f25825;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.champion_list li {
	width: 75px;
	float: left;
	text-align: center;
	list-style: none;
	margin-bottom: 10px;
	font-size: 12px;
	
}
.counter_list li {
	width: 100px;
	float: left;
	text-align: center;
	list-style: none;
	margin-bottom: 10px;
	font-size: 12px;
	
}
.champion_avatar {
	position: relative;
}

.free_week, .on_sale {
	position: absolute;
	left: 10px;
}
.champion_on_sale {
	border: 5px solid rgba(36,165,19,1);
}
.champion_list {
	margin: 0;
	padding: 0;
}
.champion_list li a {
	padding-top: 5px;
	display: block;
	width: 100%;
	color: #f25825;
	text-decoration: none;
	height: 100%;
}
.champion_list li a:hover {
	background: #e7e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comments_count a {
	color: #f25825;
	font-weight: bold;
	font-size: 10px;
	padding: 3px;
	text-decoration: none;
}
.multisearch {
	height: 40px;
	width: 340px;
	padding: 5px;
	line-height: 40px;
	border: 0px solid #000;
	color: #202628;
}
.searchbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 0px;
	position: relative;
    padding: 5px;
    padding-bottom: 5px !important;
}
.loginform {
    padding: 5px;
}
.server_region {
	position: absolute;
	background: #f25825;
	border: 0;
	padding: 5px;
	color: #fff;
	top: 10px;
	right: 60px;
	height: 30px;
	line-height: 22px;
}
.search_button {
	position: absolute;
	background: #f25825;
	border: 0;
	padding: 5px;
	color: #fff;
	top: 10px;
	right: 5px;
	height: 30px;
	line-height: 22px;
}
h1.page_title {
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	margin-top: 5px;
	font-size: 32px;
	text-shadow: 1px 2px #000;
}
.rang_up {
	color: green;
	font-size: 10px;
}
.rang_down {
	color: red;
	font-size: 10px;
}
.header_subline {
	color: #f25825;
	font-family: 'Fjalla One', sans-serif;
	text-shadow: 1px 2px #000;
}
.mobile_header_subline {
	color: #f25825;
	font-family: 'Fjalla One', sans-serif;
}
h2.page_title {
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	margin-top: 30px;
	font-size: 32px;
	text-shadow: 1px 2px #000;
}
h2.mobile_page_title {
	font-family: 'Fjalla One', sans-serif;
	color: #000;
	margin-top: 30px;
	font-size: 22px;
}
.last_news {
	font-size: 12px;
}
.last_news .post_meta {
	font-size: 10px;
}
.match_result {
	width: 100%;
}
.result_table {
	width: 100%;
}
.result_value {
	text-align: center;
}
.match_winner {
	padding: 5px;
	margin: 5px;
	text-align: center;
	background: #50B350;
	margin-bottom: 15px;
}
.match_loser {
	margin: 5px;
	background: #ED8888;
	text-align: center;
	padding: 5px;
	margin-bottom: 15px;
}
.hidden_result {
	margin-top: 10px;
	display: none;
}
#show_result {
	margin-top: 10px;
	background: #f25825;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#show_result:hover {
	cursor: pointer;
}
.left_team {
	color: red;
}
.joined_team {
	color: green;
	font-weight: bold;
}
.team_box {
	text-align: center;
	width: 300px;
	margin: 0 auto;
}
.new_team {
	background: #dff0d8 !important;
}
.old_team {
	background: #f3cfcf !important;
}
.upvote {
	background: #63a055;
	color: #fff;
    width: 100px;
	font-weight: bold;
	padding: 3px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.upvote_done {
	background: #96bf8c;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.votes {
	background: #000;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.downvote {
	padding: 3px;
	background: #db2d2d;
	color: #fff;
    width: 100px;
	font-weight: bold;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.vote_lane {
	background: #000;
	color: #fff;
	padding: 3px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.downvote_done {
	padding: 3px;
	background: #e08a8a;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.counter_comments {
	font-size: 12px;
	margin-left: 10px;
}
.info_hover {
	background: #fff;
	padding: 10px;
	font-size: 12px;
	padding-bottom: 10px;
	border: 1px solid #929292;
}
.info_hover h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: bold;
}
.nav-tabs>li.active>a:hover {
	color: #fff;
}
.nav-tabs>li.active>a {
	background: #f25825 !important;
	color: #fff;
	font-weight: bold;
}
.summoner_search {
	background: #e7e7e7;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
.center {
	text-align: center;
}
.clear {
	clear: both;
}
.item {
	background-position: center !important;
}
.games_won {
	color: #287215;
}
.games_loss {
	color: #ff0000;
}
.black_link {
	color: #333;
}
.profile_season_stats {
	text-align: center;
}
.kda {
	font-size: 11px;
}


img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}


/* Fix Navigation at small size */
@media (max-width: 1196px) {
	.navigation ul li a {
		padding-left: 7px;
		padding-right: 7px;
	}
}

/* Themes for different contexts */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout-success {
	background-color: #a0df8f;
	border-color: #287215;
}
.bs-callout-danger {
	background-color: #f6b2b0;
	border-color: #d9534f;
}
.bs-callout-warning {
	background-color: #fff9e8;
	border-color: #f0ad4e;
}
.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #5bc0de;
}


.featuredContentOuter {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.featuredContentInner {
	position: absolute;
	bottom: 10px;
	right: 0px;
	color: #fff;
	background-color: #F25824;
	font-size: 29px;
	text-transform: uppercase;
	line-height: 38px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Fjalla One', sans-serif;
}
.eilmeldung {
    color: #fff;
    font-weight: bold;
    background: #f25825;
    padding: 5px;
    margin-bottom: 25px;
    -webkit-marquee: auto medium infinite scroll normal;   
    overflow-x: -webkit-marquee;
}
.eilmeldung a {
    color: #fff;
    font-weight: bold;
    background: #f25825;
    text-decoration: none;
}
