body {
	font-family: 'Lato', sans-serif;
}
a {
	color: #e84c3d;
}
a:hover {
	color: #e84c3d;
}
.button {
	background: #e84c3d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	padding: 5px;
}
a.button:hover {
	color: #fff;
}
.f2p {
	border: 5px solid rgba(0,123,255,0.75);
}
#nav_logo {
	font-size: 22px;
	padding-top: 1px;
}
.slider {
	margin-top: 80px;
}
.navigation {
	font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
	z-index: 100;
	background: #202528;
	color: #fff;
	height: 50px;
	margin-bottom: 0px;
}
.navigation ul {
	margin: 0;
	padding: 0;
}
.navigation ul li {
	list-style: none;
	float: left;
	height: 50px;
	line-height: 50px;
}
.navigation ul li:hover {
	background: #e84c3d;
	text-decoration: none;
}
.navigation ul li a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}
.navigation ul li.active {
	background: #e84c3d;
}

.navigation ul li a {
	display: block;
	color: #fff;
}
.navigation ul li ul {
	display: none;
	position: absolute;
	background: #202528;
	margin-left: 0px;
}
.navigation ul li ul li {
}
.navigation ul li:hover ul {
	display: block;
}
.subsite {
	height: 60px;
	background: url("/img/subsite.jpg");
	margin-bottom: 15px;
}
.header_margin {
	margin-top: 0px;
}
.subsite h1 {
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	font-size: 24px;
	line-height: 60px;
}
.visionward_font {
	font-family: 'Fjalla One', sans-serif;
}
.footer {
	margin-top: 25px;
	height: 200px;
	background: #202528;
	color: #fff;
}
.copy {
	color: #767c7e;
}
.headline {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
}
h2.headline {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
	margin-top: 7px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
}
h2.headline_no_border {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 10px;
	margin-top: 7px;
	margin-bottom: 0px;
	border-bottom: 0px solid #e7e7e7;
}

.sidebar .block {
	margin-bottom: 50px;
}
.sidebar a {
	color: #333;
}
.sidebar a:hover {
	text-decoration: none;
}
a.red {
	color: #e84c3d;
}
.post_meta {
	font-size: 12px;
	margin-bottom: 15px;
}
.header {
	margin-top: 50px;
	height: 210px;
}
.small_header {
	margin-top: 50px;
	height: 120px;
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
	z-index: 100;
}
.news_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.news h2 {
	margin: 0;
	padding: 0;
	color: #202628;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.news h2 a {
	color: #202628;
	font-weight: bold;
	text-decoration: none;
}
.news .text {
	color: #767c7e;
	font-size: 14px;
}
.news_small {
	width: 100%;
}
.grey {
	background: #e7e7e7;
}
.news_small .meta {
	font-size: 12px;
	margin-top: 10px;
}
.news_small .small_headline {
	color: #202628;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
}
.news_small tr {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e7e7e7;
}
.news .meta {
	font-size: 12px;
	margin-top: 10px;
}
.comments_count {
	width: 80px;
	text-align: center;
	color: #e84c3d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.champion_list li {
	width: 75px;
	float: left;
	text-align: center;
	list-style: none;
	margin-bottom: 10px;
	font-size: 12px;
	
}
.counter_list li {
	width: 100px;
	float: left;
	text-align: center;
	list-style: none;
	margin-bottom: 10px;
	font-size: 12px;
	
}
.champion_avatar {
	position: relative;
}
.free_week, .on_sale {
	position: absolute;
	left: 10px;
}
.champion_on_sale {
	border: 5px solid rgba(36,165,19,1);
}
.champion_list {
	margin: 0;
	padding: 0;
}
.champion_list li a {
	padding-top: 5px;
	display: block;
	width: 100%;
	color: #e84c3d;
	text-decoration: none;
	height: 100%;
}
.champion_list li a:hover {
	background: #e7e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comments_count a {
	color: #e84c3d;
	font-weight: bold;
	font-size: 10px;
	padding: 3px;
	text-decoration: none;
}
.multisearch {
	height: 40px;
	width: 340px;
	padding: 5px;
	line-height: 40px;
	border: 0px solid #000;
	color: #202628;
}
.searchbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 0px;
	position: relative;
}
.server_region {
	position: absolute;
	background: #e84c3d;
	border: 0;
	padding: 5px;
	color: #fff;
	top: 10px;
	right: 5px;
	height: 30px;
	line-height: 22px;
}
h1.page_title {
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	font-size: 60px;
	margin-top: 75px;
	text-shadow: 1px 2px #000;
}
.header_subline {
	color: #e84c3d;
	font-family: 'Fjalla One', sans-serif;
	text-shadow: 1px 2px #000;
}
h2.page_title {
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	margin-top: 30px;
	font-size: 32px;
	text-shadow: 1px 2px #000;
}
.last_news {
	font-size: 12px;
}
.last_news .post_meta {
	font-size: 10px;
}
.match_result {
	width: 100%;
}
.result_table {
	margin: 0 auto;
}
.result_value {
	text-align: center;
}
.hidden_result {
	margin-top: 10px;
	display: none;
}
#show_result {
	margin-top: 10px;
	background: #e84c3d;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#show_result:hover {
	cursor: pointer;
}
.left_team {
	color: red;
}
.joined_team {
	color: green;
	font-weight: bold;
}
.team_box {
	text-align: center;
	width: 300px;
	margin: 0 auto;
}
.new_team {
	background: #dff0d8 !important;
}
.old_team {
	background: #f3cfcf !important;
}
.upvote {
	background: #63a055;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.votes {
	background: #000;
	color: #fff;
	font-weight: bold;
	padding: 3px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.downvote {
	padding: 3px;
	background: #db2d2d;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.counter_comments {
	font-size: 12px;
	margin-left: 10px;
}
.info_hover {
	background: #fff;
	padding: 10px;
	border: 1px solid #929292;
}
.center {
	text-align: center;
}
.clear {
	clear: both;
}