.summoner_overview_line1.current_game_main_holder {
	height: auto;
}

.summoner_overview_line1.current_game_main_holder .not_ingame {
	padding: 25px;
	text-align: center;
	color: rgba(0,0,0,0.6);
}

.summoner_overview_line1.current_game_main_holder.loaded {
	border: none;
}

.summoner_overview_line1.current_game_main_holder.loaded .summoner_title {
	border: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.col-md-6.current_game_holder {
	margin: 0px;
	padding: 0px;
	border: 1px solid rgba(0,0,0,0.5);
	border-top: none;
}

.col-md-6.current_game_holder.left {
	border-right: none;
}

.col-md-6.current_game_holder.right {
	border-left: none;
}

@media(max-width: 990px){
	.col-md-6.current_game_holder.left {
		border-right: 1px solid rgba(0,0,0,0.5);
	}
	
	.col-md-6.current_game_holder.right {
		border-left: 1px solid rgba(0,0,0,0.5);
	}
}

.current_game_table.table {
	margin-bottom: 0px;
	padding: 0px;
}

.current_game_table tr.highlight {
	background-color: rgb(253, 240, 188);
}

.current_game_table .champ_icon {
	padding: 0px;
	width: 60px;
}

.current_game_table .champ_icon img {
	width: 60px;
}

.current_game_table .spells {
	width: 20px;
	padding: 0px;
	vertical-align: middle;
}

.current_game_table .spells img {
	width: 20px;
	margin: 3px;
	margin-left: 5px;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 2px;
}

.current_game_table .champion {
	vertical-align: middle;
	font-size: 12px;
}

.current_game_table .champion .normal_wins {
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}

.current_game_table .champion .normal_wins span {
	font-weight: bold;
}

.current_game_table .league {
	vertical-align: middle;
}

.current_game_table .league img {
	height:25px;
	float:left;
	margin-top:7px;
	margin-right: 3px;
}

.current_game_table .league .lp {
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}

.current_game_table .league .lp span {
	font-weight: bold;
}

.current_game_table .ranked_wins {
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
}

.just_small {
	display :none;
}

@media(max-width: 650px){
	.no_small {
		display: none;
	}
	
	.just_small {
		display: block;
	}
	
	.current_game_table .champ_icon {
		padding: 0px;
		width: 40px;
		vertical-align: middle;
	}

	.current_game_table .champ_icon img {
		width: 40px;
	}
	
	.current_game_table .spells {
		width: 15px;
	}

	.current_game_table .spells img {
		width: 15px;
		margin-left: 3px;
	}
}

@media(max-width: 545px){
	.no_mini {
		display: none;
	}
}


/* Runen und Meisterschaft Links */
.current_game_player .summoner_datamasteries {
	width: 85px;
	text-align: right;
	vertical-align: middle;
}

.current_game_player .summoner_datamasteries .mastery_button {
	background: #f25825;
	border: 0;
	padding: 5px;
	color: #fff;
	top: 10px;
	right: 5px;
	height: 30px;
	line-height: 22px;
	font-size: 13px;
}

.current_game_player .summoner_datamasteries .mastery_button:hover {
	background: #FC855D;
}

.current_game_player .summoner_datarunes {
	vertical-align: middle;
	text-align: center;
	width: 55px;
}

/* Table Header */
.current_game_table .current_game_header td {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0px;
	height: auto !important;
}

.current_game_table .current_game_header td.first {
	height: auto;
}