.esports_live_link {
    background-image: url(../../img/esports/esports_live.jpg);
    height: 380px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.esports_live_link .top_bar {
    padding: 3px;
    background: rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    color: rgba(255,255,255,0.8);
}

.esports_live_link .center_col {
    padding-top: 160px;
    position: relative;
    z-index: 6;
}

.esports_live_link .center_col .vs {
    font-size: 48px;
    color: orange;
    font-weight: bold;
    font-family: 'Fjalla One';
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(0,0,0,1);
}

.esports_live_link .team_col {
    position: absolute;
    width: 50%;
    top: 0px;
    z-index: 5;
}

.esports_live_link .team_col.second {
    right: 0px;
}

.esports_live_link .team_col img.team_icon {
    max-height: 200px;
    margin-top: 80px;
}

.esports_live_link .team_col .team_name {
    padding-top: 5px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 0 6px rgba(0,0,0,1);
}

.esports_opener_navi {
	background: #000;
	width: 100%;
	height: 200px;
	position: relative;
	background-image: url(../../img/esports/tournament_header_bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}

.esports_opener_navi .holder {
	width: 100%;
	max-width: 1110px;
	height: 200px;
	margin: auto;
	position: relative;
}

.esports_opener_navi .holder .league_icon {
	width: 140px;
	height: 140px;
	background-size: 135px;
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	margin-top: 35px;
}

.esports_opener_navi .holder .league_name {
	position: absolute;
	margin-top: 40px;
	margin-left: 180px;
	font-size: 28px;
	color: #fff;
	text-shadow: 0 0 6px rgba(0,0,0,1);
}

.esports_opener_navi .holder .league_name .tournament_name {
	font-size: 22px;
	padding-left: 35px;
}

.esports_opener_navi .holder .tournaments_dropdown {
	background: #fff;
	position: absolute;
	max-width: 300px;
	right: 20px;
	margin-top: 70px;
	z-index: 120;
	box-shadow: 0 0 7px 1px rgba(0,0,0,0.5);
}

.esports_opener_navi .holder .tournaments_dropdown .current {
	padding: 10px;
	padding-right: 40px;
	background-image: url(../../img/stats/dropdown_arrow.png);
	background-repeat: no-repeat;
	background-position: right 10px top 13px;
}

.esports_opener_navi .holder .tournaments_dropdown .drop_element {
	padding: 10px;
	cursor: pointer;
	display: none;
	translate: all 200ms;
}

.esports_opener_navi .holder .tournaments_dropdown .drop_element.active {
	opacity: 0.5;
	cursor: default;
}

.esports_opener_navi .holder .tournaments_dropdown .drop_element:hover {
	background-color: rgba(0,0,0,0.1);
}

.esports_opener_navi .holder .tournaments_dropdown .drop_element.active:hover {
	background-color: rgba(0,0,0,0);
}

.esports_opener_navi .holder .esports_header_navi {
	position: absolute;
	bottom: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 165px;
}

.esports_opener_navi .holder .esports_header_navi .element {
	float: left;
	padding: 10px;
	padding-left: 18px;
	padding-right: 18px;
	background: rgba(255,255,255,0.8);
	margin-left: 15px;
	box-shadow: 0 -2px 3px 1px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.8);
	cursor: pointer;
	transition: all 200ms;
}

.esports_opener_navi .holder .esports_header_navi .element:hover {
	background: rgba(255,255,255,0.6);
}

.esports_opener_navi .holder .esports_header_navi .element.active {
	background: #fff;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0);
	cursor: default;
}

/* Game */
.game_element .team_name img {
	max-height: 80px;
	max-width: 100px;
	float: left;
}

.game_element .team_name div.info {
	font-size: 18px;
	font-weight: bold;
	padding-left: 90px;
}

.game_element .team_name div.info .winner {
	padding-left: 20px;
	font-size: 16px;
}

.game_element .team_name div.info .winner.win {
	color: rgb(7, 126, 7);
}

.game_element .team_name div.info .winner.loss {
	color: rgb(200, 12, 12);
}
.game_element .game_table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
	margin-bottom: 30px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}

.game_element .game_table thead {
	background: #202528;
}

.game_element .game_table thead th {
	padding: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

.game_element .game_table tr.player_tr {
	height: 80px;
	overflow: hidden;
}

.game_element .game_table  tr:nth-child(even) {
	background: rgba(0,0,0,0.1);
}

.game_element .game_table .player .player_image {
	height: 80px;
	width: 100px;
	background-position: center center;
	background-size: 180px;
	float: left;
}

.game_element .game_table .player .player_name {
	font-size: 14px;
	padding-left: 112px;
	padding-top: 20px;
	width: 170px;
}

.game_element .game_table .player .player_name .lane_info {
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}

.game_element .game_table .champion {
	width: 90px;
}

.game_element .game_table .champion .champion_icon {
	height: 40px;
}

.game_element .game_table .champion .level_info {
	font-size: 12px;
	color: rgba(0,0,0,0.5);
	padding-top: 4px;
}

.game_element .game_table .kda {
	vertical-align: middle;
	font-size: 14px;
	text-align: left;
}

.game_element .game_table .items {
	width: 325px;
}

.game_element .game_table .items .item_icon {
	width: 45px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.game_element .game_table .items .item_icon.no_icon {
	height: 45px;
	display: inline-block;
	background: rgba(0,0,0,0.2);
}

.game_element .game_table .spells {
	width: 145px;
	padding-left: 5px;
	text-align: left;
}

.game_element .game_table .spells .spell_icon {
	width: 45px;
}