.index_search_layer {
	background-image: url(../../img/stats/index_search_layer_bg.png);
	height: 35%;
	min-height: 200px;
	max-height: 335px;
	background-position: center center;
	background-repeat: no-repeat;
	position:relative;
}

@media (min-width: 900px){
	.index_search_layer {
		min-height: 335px;
	}
}

.index_search_layer .search_box {
	width: 500px;
	height: 85px;
	position: absolute;
	top: 50%;
	margin-top: -42px;
	left: 50%;
	margin-left: -250px;
}

.index_search_layer .search_box .search_input {
	background: #fff;
	margin: 0px;
	padding: 12px;
	font-size: 18px;
	line-height: 19px;
	width: 319px;
	border: none;
	outline: none;
	box-shadow: none;
}

.index_search_layer .search_box .search_button {
	margin: 0px;
	padding: 15px;
	padding-bottom: 14px;
	font-size: 18px;
	line-height: 19px;
	position: static;
	border: none;
	box-shadow: none;
	outline: none;
	color: #fff;
	height: auto;
}

.index_search_layer .search_box .search_dropdown {
	display: inline-block;
	border: none;
	background: #fff;
	background-image: url(../../img/stats/dropdown_arrow.png);
	background-position: right 8px center;
	background-repeat: no-repeat;
	z-index:5;
	cursor: pointer;
}

.index_search_layer .search_box .search_dropdown .search_dropdown_current {
   padding: 16px;
	padding-bottom: 12px;
	width: 80px;
}

.index_search_layer .search_title {
	color: #fff;
	font-size: 26px;
	font-weight: 300;
	text-shadow: 0 0 6px rgba(0,0,0,0.9);
}

.index_search_layer .search_dropdown .search_dropdown_options {
   display: none;
   position: absolute;
   background: #fff;
   z-index: 6;
	border: 1px solid rgba(0,0,0,0.3);
	border-top: none;
}

.index_search_layer .search_dropdown .search_dropdown_options .element {
   padding: 16px;
   padding-top:12px;
   padding-bottom: 12px;
   width: 78px;
   transition: all 200ms;
   cursor: pointer;
}

.index_search_layer .search_dropdown .search_dropdown_options .element:hover {
   background: rgba(0,0,0,0.1);
}

@media (max-width: 550px){
   .index_search_layer {
      background-position:center center;
      margin-top: 45px;
   }
   
	.index_search_layer .search_box {
		width: 100%;
		padding: 10px;
		left: 0px;
		margin-left: 0px;
		top: 50%;
		height: 160px;
		margin-top: -80px;
	}
	
	.index_search_layer .search_box .search_button {
		float: inherit;
		width: 100%;
		margin-top: 5px;
	}
	
	.index_search_layer .search_box .search_dropdown {
		width: 20%;
		float:right;
		padding-right: 35px;
	}
	
	.index_search_layer .search_box .search_input {
		width: 75%;
		float: left;
	}
	
	.index_search_layer .search_autocomplete {
		position: absolute;
		margin-top: -53px;
	}
}

@media (max-width: 400px){
   .index_search_layer .search_box .search_dropdown {
		width: 30%;
		float:right;
		padding-right: 35px;
	}
	
	.index_search_layer .search_box .search_input {
		width: 65%;
		float: left;
	}
}

/* News Liste */
.summoner_stat_news_list {
   width: 100%;
}

.summoner_stat_news_list .news_list_el {
   background: #555;
   margin-bottom: 10px;
   width: 100%;
   padding: 5px;
   background: #fff;
   box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.summoner_stat_news_list .news_list_el .news_pic {
   width: 90px;
   vertical-align: top;
}

.summoner_stat_news_list .news_list_el .news_con {
   padding-left: 5px;
   vertical-align: top;
}

.summoner_stat_news_list .news_list_el .news_con .descr {
   color: rgba(0,0,0,0.6);
   margin-top: 6px;
}