.summoner_bg {
	height: 200px;
	position: relative;
	overflow: hidden;
	background-image:url(../../img/stats/summoner_header.jpg);
	background-position: right center;
    margin-top: 50px;
}

@media(max-width: 1700px){
	.summoner_bg {
		background-position: right top;
	}
}

.summoner_bg .mid_pos {
	margin: auto;
	width: 100%;
	max-width: 1110px;
}

.summoner_bg .summoner_name {
	font-size: 36px;
	text-shadow: 0 0 12px rgba(0,0,0,1), 0 0 12px rgba(0,0,0,1);
	color: #fff;
	font-weight: 300;
	padding-top: 25px;
	padding-left: 25px;
}

.summoner_bg .summoner_name .summonerIcon {
	height: 78px;
	float: left;
	margin-right: 15px;
	border-radius: 10px;
	box-shadow: 0 0 9px 1px rgba(0,0,0,0.8);
}

.summoner_bg .summoner_name .info {
	font-size: 16px;
	text-shadow: 0 0 8px rgba(0,0,0,1), 0 0 8px rgba(0,0,0,1):
}

.summoner_bg .summoner_update_loader {
	float: right;
	padding: 5px;
	background: rgba(32, 37, 40, 0.58);
	margin-top: 10px;
	margin-right: 10px;
	color: #fff;
	display: none;
}

.summoner_bg .summoner_update_loader img.loader_img {
	height: 55px;
	float: left;
	margin-right: 10px;
}

.summoner_bg .summoner_update_loader div.first {
	font-size: 13px;
	font-weight: bold;
}

.summoner_bg .summoner_update_loader div.second {
	font-size: 11px;
}

/* Summoner-Tabs */
.summoner_bg .summoner_navi {
	position: absolute;
	bottom: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	user-select: none;
}

.summoner_bg .summoner_navi .element {
	float: left;
	padding: 10px;
	padding-left: 18px;
	padding-right: 18px;
	background: rgba(255,255,255,0.8);
	margin-left: 15px;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.8);
	cursor: pointer;
	transition: all 200ms;
}

@media (max-width: 650px){
	.summoner_bg .summoner_navi .element {
		margin-left: 5px;
	}
}

@media (max-width: 550px){
	.summoner_bg .summoner_navi .element {
		padding: 8px;
		padding-left: 12px;
		padding-right: 12px;
	}
}

.summoner_bg .summoner_navi .element:hover {
	background: rgba(255,255,255,0.6);
}

.summoner_bg .summoner_navi .element.active {
	background: rgba(255,255,255,1);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
	cursor: default;
}

.summoner_tabs_content .element {
	display: none;
}

.summoner_tabs_content .element.active {
	display: block;
}

/* Summoner Ranked Summary  */
.ranked_summary .ranked_element .tier_logo {
	height: 150px;
	background-size: auto 150px;
	background-position: center center;
	background-repeat: no-repeat;
}

.ranked_summary .ranked_element .league {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.ranked_summary .ranked_element .points {
	color: rgba(0,0,0,0.8);
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.ranked_summary .ranked_element .win_loss {
	color: rgba(0,0,0,0.7);
	text-align: center;
}

.ranked_summary .ranked_element .win_loss .val {
	font-weight: bold;
}

.ranked_summary .ranked_element .win_loss.wins .val {
	color: green;
}

.ranked_summary .ranked_element .win_loss.losses .val {
	color: red;
}

.summoner_overview_line1 {
	height: 320px;
	border: 1px solid rgba(0,0,0,0.5);
}

.summoner_title {
	padding: 6px;
	font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
	background: #202528;
}

.ranked_summary .col-md-4.ranked_element {
	padding: 0px;
}

.ranked_summary .ranked_element .holder {
	padding: 15px;
}

.ranked_summary .ranked_element .holder .not_played {
	text-align: center;
	color: rgba(0,0,0,0.6);
}

@media (max-width: 990px){
	.summoner_overview_line1 {
		height: auto;
		margin-bottom: 15px;
	}
	
	.ranked_summary .ranked_element {
		margin-bottom: 15px;
	}
	
	.summoner_title {
		border-top: 1px solid rgba(0,0,0,0.2);
	}
}	


.summoner_overview_line1 .table .title {
	background: rgba(0,0,0,0.1);
	font-weight: bold;
}

.summoner_overview_line1 .table .val {
	color: rgba(0,0,0,0.7);
	font-weight: bold;
}

/* RUNEN ANSICHT */

.runes_holder {
	border: 1px solid rgba(0,0,0,0.5);
}

.runes_holder .runes_navi {
	background: #202528;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.runes_holder .runes_navi .rune_element {
	padding: 5px;
	display: inline-block;
	margin: 5px;
	border: 1px solid #333a3e;
	cursor: pointer;
    background: #202528;
    color: #fff;
}

.runes_holder .runes_navi .rune_element.open {
	background: #333a3e;
    color: #fff;
}

.runes_holder .runes_content {
	padding: 15px;
}

.runes_holder .rune_page_info {
	padding: 25px;
	padding-top: 5px;
}

.runes_holder .rune_page_info .rune_info_element {
	padding: 15px;
	margin-bottom: 5px;
	border: 1px solid rgba(0,0,0,0.2);
}

.runes_holder .rune_page_info .rune_info_element img {
	height: 40px;
	margin-right: 5px;
	float: left;
}

.runes_holder .rune_page_info .rune_info_element .rune_desc {
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}

.no_runes {
	color: rgba(0,0,0,0.6);
	text-align: center;
	padding: 40px;
	background: rgba(0,0,0,0.1);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}

.rune_info_holder {
	width: 400px;
	float: right;
}

@media(max-width: 1200px){
	.rune_info_holder {
		width: 100%;
		float: left;
	}

	.runes_book_holder {
		display: none;
	}
}

@media(max-width: 1130px){
	.rune_info_holder {
		width: 100%;
		float: left;
	}
}

/* Ranked-Data Table */
.ranked_data_table.table thead th {
	height: 20px;
}

.ranked_data_table.table thead th.headerSortUp, .ranked_data_table.table thead th.headerSortDown {
	background-color: rgba(0,0,0,0.2);
	background-position: right 8px center;
	background-repeat: no-repeat;
}

.ranked_data_table.table thead th.headerSortUp {
	background-image: url(../../img/table_sort/table_sort_asc.gif);
}

.ranked_data_table.table thead th.headerSortDown {
	background-image: url(../../img/table_sort/table_sort_desc.gif);
}

.ranked_data_table.table.sortable thead th {
	cursor: pointer;
}

.ranked_data_table.table.sortable thead th:hover {
	background-color: rgba(0,0,0,0.1);
}

.ranked_data_table.table tbody td {
	text-align: center;
	vertical-align: middle;
}

.ranked_data_table.table tbody td.champ_info {
	text-align: left;
}

.ranked_data_table.table tbody td.champ_info span {
	padding-left: 5px;
	padding-top: 1px;
}

.ranked_data_table.table tbody td .champ_icon {
	height: 30px;
	border-radius: 50%;
}


/* Mastery Page */
.masteries_overlay {
	border: 1px solid rgba(0,0,0,0.5);
}

.masteries_overlay .masteries_navi {
	background: #202528;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

.masteries_overlay .masteries_navi .mastery_element {
	padding: 5px;
	display: inline-block;
	margin: 5px;
	border: 1px solid #333a3e;
	cursor: pointer;
    color: #fff;
    background: #202528;
}

.masteries_overlay .masteries_navi .mastery_element.open {
    background: #333a3e;
    color: #fff;
}